
/* mixins */
.blur(@amount) {
	filter: blur(@amount);
}

@keyframes huerFadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes huerFadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes huerZoomOut {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	100% {
		opacity: 0;
	}
}
@keyframes huerBounceIn {
	0%, 50%, 100% {
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
		transform: scale3d(1.1, 1.1, 1.1);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes huerBlur {
	0% {
		.blur(0px);
	}
	100% {
		.blur(3px);
	}
}

@keyframes huerFocus {
	0% {
		.blur(3px);
	}
	100% {
		.blur(0px);
	}
}
/* classes */
.huer-bounce-in {
	animation-name: huerBounceIn;
}
.huer-fade-out {
	animation-name: huerFadeOut;
}
.huer-fade-in {
	animation-name: huerFadeIn;
}
.huer-zoom-out {
	animation-name: huerZoomOut;
}
.huer-container {
	z-index: 2000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: none;
	.huer-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1999;
		background-color: rgba(0, 0, 0, 0.2);
		animation-duration:0.25s;
	}
	.huer-body {
		z-index: 2000;
		animation-duration:0.25s;
	}
}
.huer-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
.huer-stop-scrolling {
	overflow: hidden;
}
.huer-content-wrapper {
	text-align: center;
	width: 260px;
	min-width: 260px;
	max-width: 260px;
	background-color:rgba(255,255,255,1);
	border-radius: 10px;
	max-width: 260px;
	padding: 20px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}
.huer-blur {
	.blur(3px);
	animation: huerBlur linear 0.10s;
}
.huer-focus {
	.blur(0px);
	animation: huerFocus linear 0.10s;
}
